<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../styles/styles.css" />
	</head>
	<body>
		<div class="view-container">
			<h2>Магазин</h2>
			<div class="input-grid">
				<div class="input-field">
					<label>Название</label>
					<input type="text" id="shopName" />
				</div>
				<div class="input-field">
					<label>Страна, Город</label>
					<input type="text" id="shopLocation" />
				</div>
				<div class="input-field">
					<label>Улица</label>
					<input type="text" id="shopStreet" />
				</div>
			</div>

			<h2>Реквизиты продавца</h2>
			<div class="input-grid">
				<div class="input-field">
					<label>Наименование</label>
					<input type="text" id="sellerName" />
				</div>
				<div class="input-field">
					<label>ОГРН</label>
					<input type="text" id="sellerOgrn" />
				</div>
				<div class="input-field">
					<label>ИНН</label>
					<input type="text" id="sellerInn" />
				</div>
			</div>
			<div class="input-field" style="width: 32%">
				<label>Юридический адрес</label>
				<input type="text" id="sellerLegalAddress" />
			</div>

			<h2>Информация о закупке</h2>
			<div class="input-grid">
				<div class="input-field">
					<label>Дата закупки</label><input type="date" id="purchaseDate" />
				</div>
				<div class="input-field">
					<label>Категория</label><input type="text" id="productCategory" />
				</div>
				<div class="input-field">
					<label>Стоимость</label><input type="number" id="productPrice" />
				</div>
				<div class="input-field">
					<label>Количество</label><input type="number" id="productCount" />
				</div>
				<div class="input-field">
					<label>Товарный знак</label><input type="text" id="trademark" />
				</div>
				<div class="input-field">
					<label>Правообладатель</label><input type="text" id="rightHolder" />
				</div>
			</div>

			<div class="photo-grid">
				<div class="photo-box">
					<span class="photo-label">Фото товара</span>
					<input type="file" id="productPhotoInput" />
				</div>
				<div class="photo-box">
					<span class="photo-label">Фото чека/слип-чека</span>
					<input type="file" id="receiptPhotoInput" />
				</div>
			</div>

			<div class="generate-btn-container">
				<button class="btn-main" id="generateClaimsBtn">Сгенерировать</button>
			</div>
		</div>
	</body>
</html>
