<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Восстановление доступа</title>
	</head>
	<body>
		<div class="login-page">
			<div class="login-container">
				<h1>Сброс пароля</h1>

				<div class="login-form">
					<div class="input-field">
						<input
							type="text"
							id="loginCheck"
							placeholder="Введите логин (admin)" />
					</div>

					<div class="input-field">
						<input type="password" id="newPass" placeholder="Новый пароль" />
					</div>
					<div class="input-field">
						<input
							type="password"
							id="confirmPass"
							placeholder="Повторите новый пароль" />
					</div>

					<div class="generate-btn-container">
						<button class="btn-main" id="restoreBtn">Обновить пароль</button>
					</div>

					<div class="login-footer" style="margin-top: 15px">
						<a href="#" id="backToLogin" class="back-link">Назад ко входу</a>
					</div>
				</div>
			</div>
		</div>
		<script src="../services/forgotPassword.js"></script>
	</body>
</html>
